<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            body {
                background-color: #cccccc;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Search History: </h1><br>
            <h2>Order</h2>
            <form action="">
                <input type="button" id="usermuk" value="By User" onclick="orderBU()">
                <input type="button" id="servmuk" value="By Service" onclick="orderBS()">
                <input type="button" id="radmuk"value="By Radius" onclick="orderBR()">
            </form>
        </div>
        <script>
        
            var user = "{{dbuser}}";
            console.log(user);
            var service = "{{dbserv}}";
            console.log(service);
            var radius = "{{dbrad}}";
            console.log(radius);
            
            function orderBU(){
                
            }
            function orderBS(){
                
            }
            function orderBR(){
                
            }
        </script>
    </body>
</html>